* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: hsl(22, 67%, 90%);
}

.grid-container {
    display: grid;
    grid-template-areas: "header header"
                         "intro .";
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 4fr 5fr;
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: header;
    background-color: hsl(27, 51%, 75%);
}

.intro {
    grid-area: intro;
    border-right: solid hsl(27, 51%, 75%);
    border-left: solid hsl(27, 51%, 75%);
    border-bottom: solid hsl(27, 51%, 75%);
}

button {
    background-color: hsl(188, 51%, 75%);
    border: transparent;
    font-family: "Roboto Mono", monospace;
    border-radius: 5px;
}

a {
    color: hsl(262, 100%, 0%);
    text-decoration: none;
}

.purple-text {
    color: hsl(262, 44%, 66%);
}

.blue-text {
    color: hsl(188, 51%, 75%);
}