@use 'base';

#grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "malia overview caleigh";
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  width: 100vw;
}

header {
  grid-area: header;
}

main {
  grid-area: overview;
  align-self: center;
  height: 85%;
  background-color: base.$purple;
  border: 0.5rem solid base.$brown;
  border-radius: 1.25rem;
  box-shadow: 0.75rem 0.75rem 1rem 0 hsla(27, 51%, 75%, 0.5);
  margin: 0 3vw;
  text-align: center;
  color: white;
  font-size: calc(1.25vw + 2vh);
  line-height: 125%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  h1 {
    font-size: 1.5em;
    padding-bottom: 2rem;
  }
  p {
    padding-top: 0;
  }
}

.creator-card {
  &#malia {
    grid-area: malia;
    align-self: center;
    margin-left: 3vw;
  }
  &#caleigh {
    grid-area: caleigh;
    align-self: center;
    margin-right: 3vw;
  }
  height: 85%;
  background-color: base.$blue;
  border: 0.5rem solid base.$brown;
  border-radius: 1.25rem;
  box-shadow: 0.75rem 0.75rem 1rem 0 hsla(27, 51%, 75%, 0.5);
  text-align: center;
  font-size: calc(2vw + 3.5vh);
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
    h2 {
      font-size: 0.75em;
      font-weight: normal;
      line-height: 125%;
      margin-bottom: 2vh;
    }
  }

.github,
.email {
  background-color: base.$purple;
  border: 0.2rem solid white;
  border-radius: 1.5rem;
  padding: 1rem;
  font-size: 0.5em;
  margin: 1.25vh 5vw;
  &:hover {
    background-color: hsl(262, 50%, 85%);
    transition: 1s;
    color: black;
  }
}