$brown: hsl(27, 51%, 75%);
$tan: hsl(22, 67%, 90%);
$blue: hsl(188, 51%, 75%);
$purple: hsl(262, 44%, 66%);
$bar-width: 5rem;
$bar-height: 0.5rem;
$hamburger-gap: 1rem;
$hamburger-margin: 2rem;
$animation-timing: 200ms ease-in-out;
$hamburger-height: calc($bar-height * 3 + $hamburger-gap * 2);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $purple;
  font-size: 6rem;
  overflow-x: hidden;
}

#grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "malia overview caleigh";
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  width: 100vw;
}

.background {
  background-color: $tan;
}

header {
  grid-area: header;
  background-color: $brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.25rem 0.75rem 0 hsla(27, 51%, 35%, 0.5);
}

#logo {
  height: 7rem;
  width: auto;
}

nav {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-left: 3rem;
  margin-right: 5rem;
  flex-shrink: 0;
  font-size: 3rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-shrink: 0;
  font-size: 4.5rem;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: hsl(262, 90%, 75%);
  }
  &:active {
    text-decoration: underline;
  }
}

button {
  background-color: $blue;
  border: transparent;
  border-radius: 1rem;
  font-family: "Roboto Mono", monospace;
  padding: 1rem;
  &:hover {
    background-color: hsl(262, 50%, 75%);
    transition: 1s;
  }
  &:active {
    text-decoration: underline;
  }
}

.hamburger-menu {
  $x-width: calc($hamburger-height * 1.41421356237);
  margin-right: 3rem;
  display:flex;
  flex-direction: column;
  gap: $hamburger-gap;
  width: max-content;
  z-index: 2;
  cursor: pointer;
  &::before,
  &::after,
  input {
    content: "";
    width: $bar-width;
    height: $bar-height;
    background-color: black;
    border-radius: 1rem;
    transform-origin: left center;
    transition: opacity $animation-timing, width $animation-timing,
                rotate $animation-timing, translate $animation-timing,
                background-color $animation-timing;
    display: none;
  }
  input {
    appearance: none;
    padding: 0;
    margin:0;
    outline: none;
    pointer-events: none;
    &:checked {
      opacity: 0;
      width: 0;
    }
  }
  &:has(input:checked) {
    &::before {
      rotate: 45deg;
      width: $x-width;
      translate: 0 calc($bar-height / -2);
    }
    &::after {
      rotate: -45deg;
      width: $x-width;
      translate: 0 calc($bar-height / 2);
    }
  }
  &:has(input:focus-visible)::before,
  &:has(input:focus-visible)::after,
  input:focus-visible {
    border: 1px solid white;
    box-shadow: 0 0 0 1px black;
  }
}

.sidebar {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: translate $animation-timing;
  translate: 100%;
  background-color: $blue;
  color: white;
  max-width: 10rem;
  min-height: 100vh;
  nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: calc($hamburger-height + $hamburger-margin + 4rem) 0;
    justify-content: space-between;
    .sidebar-link {
      max-width: 10rem;
      font-size: 3rem;
      &:hover {
        background-color: hsl(262, 50%, 75%);
        transition: 1s;
      }
      a {
        &:hover {
          color: black;
        }
        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

main {
  grid-area: overview;
  align-self: center;
  height: 85%;
  background-color: $purple;
  border: 0.5rem solid $brown;
  border-radius: 1.25rem;
  box-shadow: 0.75rem 0.75rem 1rem 0 hsla(27, 51%, 75%, 0.5);
  margin: 0 3vw;
  text-align: center;
  color: white;
  font-size: calc(1.25vw + 2vh);
  line-height: 125%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  h1 {
    font-size: 1.5em;
    padding-bottom: 2rem;
  }
  p {
    padding-top: 0;
  }
}

.creator-card {
  &#malia {
    grid-area: malia;
    align-self: center;
    margin-left: 3vw;
  }
  &#caleigh {
    grid-area: caleigh;
    align-self: center;
    margin-right: 3vw;
  }
  height: 85%;
  background-color: $blue;
  border: 0.5rem solid $brown;
  border-radius: 1.25rem;
  box-shadow: 0.75rem 0.75rem 1rem 0 hsla(27, 51%, 75%, 0.5);
  text-align: center;
  font-size: calc(2vw + 3.5vh);
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
    a {
      font-size: 0.75em;
      margin: 1rem 0;
    }
    button {
      background-color: $purple;
      border: 0.2rem solid white;
      &:hover {
        background-color: hsl(262, 50%, 85%);
        transition: 1s;
      }
      &:active {
        text-decoration: underline;
      }
    }
    p {
      margin-bottom: 1vh;
    }
  }


@media (max-width: 1240px) {
  .nav-link {
    display: none;
  }
  .hamburger-menu {
    &::before,
    &::after,
    input {
      display: inline;
    }
  }
}

@media (max-width: 1200px) {
  * {
    font-size: 60%;
  }
}

@media (max-width: 1048px) {
  * {
    font-size: 57.5%;
  }
}

/*@media (max-width: 896px) {
  #grid-container {
    display: block;
    height: 100vh;
    width: 100vw;
  }
  * {
    font-size: 57.5%;
  }
}*/