$brown: hsl(27, 51%, 75%);
$tan: hsl(22, 67%, 90%);
$blue: hsl(188, 51%, 75%);
$purple: hsl(262, 44%, 66%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $purple;
  font-size: 6rem;
  overflow-x: hidden;
}

.background {
  background-color: $tan;
}