* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(262, 44%, 66%);
  font-size: 6rem;
  overflow-x: hidden;
}

.background {
  background-color: hsl(22, 67%, 90%);
}

header {
  background-color: hsl(27, 51%, 75%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.25rem 0.75rem 0 hsla(27, 51%, 35%, 0.5);
}

#logo {
  height: 7rem;
  width: auto;
}

nav {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-left: 3rem;
  margin-right: 5rem;
  flex-shrink: 0;
  font-size: 3rem;
}

.header-login-area {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-shrink: 0;
  font-size: 3rem;
  margin-right: 2vw;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: hsl(262, 90%, 75%);
}
a:active {
  text-decoration: underline;
}

.purple-text {
  color: hsl(262, 44%, 66%);
}

.blue-text {
  color: hsl(188, 51%, 65%);
}

.sign-up,
.login {
  background-color: hsl(188, 51%, 75%);
  border-radius: 0.75rem;
  padding: 0.75rem;
}
.sign-up:hover,
.login:hover {
  color: black;
  background-color: hsl(262, 50%, 75%);
  transition: 1s;
}
.sign-up:active,
.login:active {
  text-decoration: underline;
}

.hamburger-menu {
  position: absolute;
  right: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  z-index: 5;
  cursor: pointer;
}
.hamburger-menu::before, .hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: 5rem;
  height: 0.5rem;
  background-color: black;
  border-radius: 1rem;
  transform-origin: left center;
  transition: opacity 200ms ease-in-out, width 200ms ease-in-out, rotate 200ms ease-in-out, translate 200ms ease-in-out, background-color 200ms ease-in-out;
  display: none;
}
.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}
.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: 4.9497474683rem;
  translate: 0 -0.25rem;
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: 4.9497474683rem;
  translate: 0 0.25rem;
}
.hamburger-menu:has(input:focus-visible)::before, .hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid white;
  box-shadow: 0 0 0 1px black;
}

.sidebar {
  min-height: 100vh;
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  transition: translate 200ms ease-in-out;
  translate: 100%;
  background-color: hsl(188, 51%, 75%);
  background-attachment: fixed;
  width: 10rem;
}
.sidebar nav {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 0;
  padding-top: 7.5rem;
}
.sidebar nav .sidebar-link {
  width: 9rem;
  text-align: center;
  font-size: 2rem;
  padding: 5vh 1vw;
  background: linear-gradient(to right, hsl(188, 60%, 70%), hsl(188, 51%, 60%) 50%, hsl(188, 51%, 75%) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: background-position 275ms ease;
}
.sidebar nav .sidebar-link:hover {
  background-position: 0 100%;
  transition: 0.75s;
  color: black;
}

.hamburger-menu:has(input:checked) {
  position: fixed;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

@media (min-width: 1241px) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 1240px) {
  .nav-link {
    display: none;
  }
  .hamburger-menu::before, .hamburger-menu::after,
  .hamburger-menu input {
    display: inline;
  }
  .header-login-area {
    margin-right: 11vw;
  }
}
@media (max-width: 1200px) {
  * {
    font-size: 60%;
  }
}
@media (max-width: 1048px) {
  * {
    font-size: 57.5%;
  }
}
@media (max-width: 896px) {
  #grid-container {
    display: block;
    height: 100vh;
    width: 100vw;
  }
  * {
    font-size: 57.5%;
  }
}
#grid-container {
  display: grid;
  grid-template-areas: "header" ".";
  grid-template-rows: 1fr 7fr;
  height: 100vh;
  width: 100vw;
}

header {
  grid-area: header;
}

.card {
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: hsl(188, 51%, 75%);
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem 0.5rem hsla(27, 51%, 75%, 0.5);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20vh;
  padding: 3vh 3vw;
  font-size: calc(3vw + 1vh);
  line-height: 60%;
}
.card h1 {
  text-align: center;
}
.card form {
  display: flex;
  flex-direction: column;
}
.card form button {
  background-color: hsl(262, 44%, 66%);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  border: 0;
  margin-bottom: 1vh;
}
.card form button:hover {
  background-color: hsl(262, 40%, 55%);
  transition: 1s;
}
.card form button:active {
  text-decoration: underline;
}
.card form .input-box {
  width: 100%;
  position: relative;
  margin-top: 1.5vh;
}
.card form .input-box label {
  position: relative;
  font-size: 1em;
}
.card form .input-box input {
  width: 100%;
  height: 4vh;
}
.card form .input-box i {
  cursor: pointer;
  position: absolute;
  top: 70%;
  right: 1.5%;
  color: hsl(0, 0%, 35%);
}

p a {
  font-size: 1em;
  color: hsl(262, 44%, 66%);
}
p a:hover {
  color: hsl(262, 50%, 80%);
  transition: 1s;
}
p a:active {
  text-decoration: underline;
}

ul {
  margin-left: 2vw;
}/*# sourceMappingURL=sign-up.css.map */